
#landing{
    margin-top: 130px;
    display: inherit;
    
  }
  .gauche{
    float: left;
    width: 50%;
    padding-top: 80px;
    
   
  }
  .gauche h3{
    font-size: 32px;
    width: 90%;
  
  }
  .gauche p{
    width: 110%;
    font-size: 16px;
    margin-top: 12px;
  }
  #imgee{
    float: right;
    height: 80VH;
    margin-top: -20px;
    margin-right: 20px;
  }
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  #bar{
    height: 79PX;
    width: 100%;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
    border-radius: 14px;
    display: flex;
    position: inherit;
    justify-content: space-evenly;
    box-shadow:
      inset 0 -7em 3em transparent,
      0 0 0 2px white,
      0.3em 0.3em 1em rgba(128, 124, 124, 0.6);
      margin-top: -70px;
  }
  #bar div{
    float: left;
    height: 67px;
    width: 240px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
    border-right:1.5px solid rgba(156, 155, 155, 1);
   
  }
  #bar div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
   
  }
  #bar div p{
    color:rgba(156, 155, 155, 1);
    margin-left: 8px;
    font-size: 14px;
    margin-top: -0.1px;
    
  }
  #bar img{
    margin-top:15px;
    float: left;
    margin-right: 20px;
    
  }
  
  #bar #search{
    float: left;
    height: 67px;
    width: 65px;
    background-color: rgba(64, 175, 146, 1);
    border-radius: 14px;
    border: none;
    cursor: pointer;
  }
  #bar #derniere{
    border: none;
  }
  #bar #search img{
    margin-left:12px;
    transform:scale(1.2);
  }
#bar #search:hover{
   background-color: rgba(69, 171, 194, 1);
}
.darrk p{
  width: 110%;
  font-size: 16px;
  margin-top: 0px;
}